<a href="https://colab.research.google.com/github/sarinananya/YBI_MLmodels/blob/main/Fakenewsdetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FAKE NEWS DETECTION**

## 1. **importing modules and loading the dataset**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
authentic_df= pd.read_csv("https://www.dropbox.com/s/l6gojm6mn9rosdo/True%20News.csv?dl=1")
#authentic_df.head()

In [ ]:
fake_df=pd.read_csv("https://www.dropbox.com/s/tlinvf90go2xngy/Fake%20News.csv?dl=1")

In [ ]:
authentic_df['class']=0
fake_df['class']=1

In [ ]:
#merging the two datasets
df= pd.concat([authentic_df,fake_df],axis=0)

In [ ]:
#df.head(3)
#df.tail(3)

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0

In [ ]:
df.drop(['title','subject','date'],axis=1,inplace=True)
df.head(3)

                                                text  class
0  WASHINGTON (Reuters) - The head of a conservat...      0
1  WASHINGTON (Reuters) - Transgender people will...      0
2  WASHINGTON (Reuters) - The special counsel inv...      0

In [ ]:
#shuffling the dataset
df=df.sample(frac=1)
#df.head(8)

# 2. **Exploratory data Analysis**

In [ ]:
#checking for null values
df.isnull().sum()

text     0
class    0
dtype: int64

In [ ]:
#function to remove special chharacters
import re
def remove_extra(text):
  text = text.lower()
  text = re.sub('\[.*?\]','',text)
  text = re.sub("\\W"," ",text)
  text = re.sub('\n','',text)
  text = re.sub(r"[-()\"#/@;:<>{}`+=~|.!?,]", "", text)
  return text

In [ ]:
df['text']=df['text'].apply(remove_extra)

In [ ]:
df.head(7)

                                                    text  class
17291  washington  reuters    u s  forces killed doze...      0
16773  these grifters have no shame  how much more ev...      1
19684  geneva  reuters    u n  investigators have sta...      0
4411   aboard air force one  reuters    u s  presiden...      0
16440  after obama was embarrassed by donald trump ac...      1
7182   donald trump ignited a firestorm on wednesday ...      1
10816  first lady melania trump has been stealing the...      1

# 3. **Train Test Split the data**

In [ ]:
x= df['text']
y= df['class']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.33,random_state=2022)

# 4. **transform text into a meaningful representation of numbers**

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [ ]:
vectorizer= TfidfVectorizer()
xv_train= vectorizer.fit_transform(x_train)
xv_test= vectorizer.transform(x_test)

# 5.**Logistic regression model**

In [ ]:
from sklearn.linear_model import LogisticRegression
lrmodel= LogisticRegression()
lrmodel.fit(xv_train,y_train)

LogisticRegression()

In [ ]:
lrmodel.score(xv_test,y_test)

0.9842748194641291

In [ ]:
from sklearn.metrics import f1_score
y_pred= lrmodel.predict(xv_test)
print("F1-Score: ")
f1_score(y_test,y_pred)

F1-Score:

0.9846942127044603

# 6. **Decision Tree Classification**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtmodel= DecisionTreeClassifier()
dtmodel.fit(xv_train,y_train)

DecisionTreeClassifier()

In [ ]:
print("score:")
print(dtmodel.score(xv_test,y_test))
from sklearn.metrics import f1_score
y_pred= dtmodel.predict(xv_test)
print("F1-Score: ")
f1_score(y_test,y_pred)

score:
0.9956806371060268
F1-Score:

0.9958087753765553

# 7. **Random Forest Classifier**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfcmodel= RandomForestClassifier(random_state=0)
rfcmodel.fit(xv_train,y_train)

RandomForestClassifier(random_state=0)

In [ ]:
print("score:")
print(rfcmodel.score(xv_test,y_test))
from sklearn.metrics import f1_score
y_pred= rfcmodel.predict(xv_test)
print("F1-Score: ")
f1_score(y_test,y_pred)

score: